.edit-title-container {
    text-align: center;
    margin: 0px auto 30px auto;
    width: 50%;
}

.edit-title-container input {
    font-size: 25px;
    width: 100%;
    text-align: left;
}

.edit-category-container {
    margin: 0px auto 40px auto;
    width: 50%;
    text-align: left;
}

.edit-tags-container {
    margin: 0px auto 40px auto;
    width: 50%;
    text-align: left;
}