.nav-container {
  display: flex;
  flex-direction: row;
  background-color: var(--main-color);
  border-width: 15px 0px;
  border-color: var(--main-color);
  border-style: solid;
}

.nav-link {
  margin: 0px 15px;
  border-radius: 10px;
}

.nav-link a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.selected-link {
  background-color: white;
  color: var(--main-color) !important;
  border-radius: 8px;
}